<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock ticker API</title>
    <style media="screen">
      * {
        font-family: arial, helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Oddert Stock Ticker API</h1>
    <h3>Welcome to the stock ticker API, to get started follow the routes descripbed bellow</h3>
    <p><a href='/api/stock-prices?stock=snap'>/api/stock-prices?stock=snap</a> -Request the stock for SNAP (snapchat)</p>
    <p><a href='/api/stock-prices?stock=snap&like=true'>/api/stock-prices?stock=snap&like=true</a> -Request the stock for SNAP (snapchat) and toggle like</p>
    <p><a href='/api/stock-prices?stock=snap&stock=fb'>/api/stock-prices?stock=snap&stock=fb</a> -Request the stock for SNAP (snapchat) and FB (facebook)</p>
    <p><a href='/api/stock-prices?stock=snap&stock=fb&like=true'>/api/stock-prices?stock=snap&stock=fb&like=true</a> -Request the stock for SNAP (snapchat) and FB (facebook) and toggle like</p>

    <p>Data provided for free by <a href='https://iextrading.com/developers'>IEX</a>. <a href='https://iextrading.com/apiexhibita/'>View IEX’s Terms of Use</a>.</p>
  </body>
</html>
